.left-side{
	width: 15%;
	float: left;
	border-style: solid;
	border-color: transparent;
}

.center-side{
	width: 70%;
	float: left;
}

.right-side{
	width: 15%;
	float: left;
	border-style: solid;
	border-color: transparent;
}

.header-banner-top{
	height: 100px;
	background-color: #1e3e14;
}

.header-logo{
	float: left;
}

.header-apluspapeterie{
	float: right;
	padding-top: 30px;
	padding-right: 30px;
}

.header-apluspapeterie a{
	color: white;
}

.header-apluspapeterie a img{
	height: 40px;
	width: 40px;
}

.header-apluspapeterie a span{
	margin-left: 5px;
	font-style: oblique;
}

.papeterie-apluspapeterie{

}

.papeterie-apluspapeterie a{
	color: inherit;
}

.papeterie-apluspapeterie img{
	height: 40px;
	width: 40px;
}

.papeterie-apluspapeterie span{
	margin-left: 5px;
	font-style: oblique;
}

.header-banner-bottom{
	height:20px;
	background-color: #bed730;
}

.banniere-header{
	width: 100%;
	margin-bottom: 5px;
}

.navbar-inverse{	
	border-color: #1e3e14;
	background-color: #1e3e14;
}

.navbar-inverse .navbar-nav li a{
	color: white;
	font-family: "Century Gothic";
	font-weight: bold;
}

.img-thumbnail{
	padding: 0px;
	background-color: inherit;
	border-radius: 0px;
	border: 0px;
}

.glyphicon{
	color: white;
}

.navbar-inverse .navbar-nav li:hover{
	background-color: #bed730;
}

.navbar-inverse .navbar-nav li a:hover{
	color: #1e3e14;
}

.navbar-inverse .navbar-nav li a:focus{
	background-color: #bed730;
	color: #1e3e14;	
}

.navbar-inverse .navbar-nav .open a:focus{
	background-color: #bed730;
	color: #1e3e14;
}

.navbar-inverse .navbar-nav .open a:hover{
	background-color: #bed730;
	color: #1e3e14;
}

.dropdown-menu{
	background-color: #1e3e14;
}

.dropdown-menu li a:hover, 
.dropdown-menu li a:focus{
	color: white;
	background-color: #1e3e14;
}

.footer{
	background-color: #1e3e14;
	color: white;
}

.footer-border{
	border-right: solid 1px white;
	height: 180px;	
}

.footer-logo{
	text-align: center;
	padding-top: 20px;
}

.footer-text{
	padding-left: 40px;
}

.footer-address{
	text-indent: 18px;
}

.footer-copyright{
	font-size: 10px;
	margin-left: 5px;
}

.footer-ul{
	padding: 0; 
	list-style-type: none;
}

.glyphicon-footer{
	color: white;
}

.glyphicon-right{
	color: inherit;
}

.panel-default{
	margin-top: 20px;
}

.panel-title{
	color: white;
	font-size: 20px;
}

.panel-center{
	background-image: url('../img/dashboard/center-title.png');
}

.panel-right{
	background-image: url('../img/dashboard/right-title.png');
}

.label-horaire {
   /* display: inline;*/
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.panel-right h4{
	color: black;
}

.panel-imprimerie{
	background-image: url('../img/dashboard/imprimerie-title.png');
}

.panel-papeterie{
	background-image: url('../img/dashboard/papeterie-title.png');
}

.panel-enseignes{
	background-image: url('../img/dashboard/enseignes-title.png');
}

.container .jumbotron, .container-fluid .jumbotron{
	padding: 2px;
	margin-bottom: 0px;
}

.container .jumbotron, .container-fluid .jumbotron p{
	text-align: justify;
	padding: 5px 10px 0px 10px;
	font-size: 14px;
}

.panel-body-service{
	padding: 0px;
}

.dashboard-description{
	text-align: justify;
}

.dashboard-plan{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.dashboard-download{
	width: 50px;
	height: 50px;
}

.dashboard-right-title{
	font-size: 18px;
}

.dashboard-day{
	font-size: 14px;
}

.dashboard-time{
	font-size: 14px;
	font-style: italic;	
}

.alert{
	margin-bottom: 0px;
}

.content-center{
	text-align: center;
}

.required{
	color: red;
	font-size: 18px;
}

.glyphicon-exposant{
	color: white;
}

.movie-page{
	margin-top: 20px;
}

.papeterie-description{
	text-align: justify;
	text-indent: 15px;	
}