.left-side{
	width: 15%;
	float: left;
	border-style: solid;
	border-color: transparent;
}

.center-side{
	width: 70%;
	float: left;
}

.right-side{
	width: 15%;
	float: left;
	border-style: solid;
	border-color: transparent;
}

.banniere-header{
	width: 100%;
	margin-bottom: 5px;
}

.navbar-inverse{
	background-image: url('../img/nav/navbar-background.png');
	border-color: #9acd03;
	background-color: #9acd03;
}

.navbar-inverse .navbar-nav li a{
	color: #009147;
	font-family: "Century Gothic";
	font-weight: bold;
}

.navbar-inverse .navbar-nav li a:focus{
	background-image: url('../img/nav/navbar-focus-background.png');
	/*background-color: #009147;*/
}

.navbar-inverse .navbar-nav .open a:focus{
	background-image: url('../img/nav/navbar-focus-background.png');
	/*background-color: #009147;*/
}

.navbar-inverse .navbar-nav .open a:hover{
	background-image: url('../img/nav/navbar-focus-background.png');
	/*background-color: #009147;*/
}

.dropdown-menu{
	background-image: url('../img/nav/dropdown-background.png');
	/*background-color: #9acd03;*/
}

.dropdown-menu li a:hover, 
.dropdown-menu li a:focus{
	color: white;
	background-color: transparent;
}

.glyphicon{
	color: #009147;
}

.footer{
	background-image: url('../img/footer/background-footer.png');
	color: #009147;
}

.footer-border{
	border-right: solid 1px black;	
}

.footer-logo{
	text-align: center;
	padding-top: 20px;
}

.footer-text{
	padding-left: 40px;
}

.footer-line{
	border-bottom: solid 1px black;
}

.footer-copyright{
	color: black;
	font-size: 10px;
	margin-left: 20px;
}

.footer-ul{
	padding: 0; 
	list-style-type: none;
}

.glyphicon-footer{
	color: white;
}

.panel-default{
	margin-top: 20px;
}

.panel-default > .panel-heading{
	background-color: #9acd03;
	color: black;
}

.panel-title {
	color: white;
	font-size: 20px;
}

.dashboard-description{
	text-align: justify;
}

.dashboard-plan{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.dashboard-download{
	width: 50px;
	height: 50px;
}

.dashboard-horaire{
	font-size: 14px;
}

.dashboard-event{
	margin-left: 15px;
	font-style: italic;
	font-size: 14px;
}

.content-center{
	text-align: center;
}

#map-container{ 
	height: 300px;
}

#map-outer {  
	padding: 20px; 
	margin-bottom: 20px; 
	background-color:#FFF; 
}

#map-container-contact{
	height: 250px;
	width: 243px;
}

.required{
	color: red;
	font-size: 18px;
}

.glyphicon-exposant{
	color: white;
}

