<div id="toast"
     class="toast"
     ng-hide="!toast.shown"
     role="alert">
	<div class="alert"
			 ng-class="{'alert-success': toast.level === 'success', 
			 						'alert-danger': toast.level === 'danger', 
			 						'alert-info': toast.level === 'info', 
			 						'alert-warning': toast.level === 'warning'}">
		<i class="icon fa fa-remove" ng-click="toast.close()"></i>
		<h3 ng-bind="toast.title"></h3>
		<p ng-bind="toast.message"></p>
		<p ng-show="toast.level === 'danger'">
			Please try again later. If the problem persists, please contact support team.
		</p>
	</div>
</div>