<toast></toast>

<div id="admin" class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div loading loading-overlay="AdminCtrl.loading" class="panel panel-default">
				<div class="panel-heading panel-center"><span class="panel-title title-admin">{{ 'ADMIN_FORM.TITLE' | i18next }}</span></div>
				<div class="panel-body">
					<form name="adminForm" ng-submit="AdminCtrl.login()" novalidate>

					    <div class="form-group has-feedback" ng-class="{ 'has-error' : adminForm.identifiant.$invalid && !adminForm.identifiant.$pristine , 'has-success': adminForm.identifiant.$valid}">
					    	<label for="inputName">{{ 'ADMIN_FORM.FIELD_ID' | i18next }}<span class="required">*</span></label>
					        <input type="text" name="identifiant" tabindex="1" class="form-control" placeholder="{{ 'ADMIN_FORM.FIELD_ID' | i18next }}" ng-model="AdminCtrl.user.login"  required />
					        <span ng-show="adminForm.identifiant.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span ng-show="adminForm.identifiant.$invalid && !adminForm.identifiant.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					        <div class="error-container" ng-show="adminForm.identifiant.$invalid && !adminForm.identifiant.$pristine">
						    <small class="error" 
						        ng-show="adminForm.identifiant.$error.required">
						        {{ 'ADMIN_FORM.REQUIRED_FIELD_ID' | i18next }}.
						    </small>
						  </div>		        
					    </div>

					    <div class="form-group has-feedback" ng-class="{ 'has-error' : adminForm.password.$invalid && !adminForm.password.$pristine, 'has-success': adminForm.password.$valid }">
					        <label for="inputName">{{ 'ADMIN_FORM.FIELD_PASSWORD' | i18next }}<span class="required">*</span></label>
					        <input type="password" name="password" tabindex="1" class="form-control" placeholder="{{ 'ADMIN_FORM.FIELD_PASSWORD' | i18next }}" ng-model="AdminCtrl.user.password"  required />
					        <span ng-show="adminForm.password.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span ng-show="adminForm.password.$invalid && !adminForm.password.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					        <div class="error-container" ng-show="adminForm.password.$invalid && !adminForm.password.$pristine">
						    <small class="error" 
						        ng-show="adminForm.password.$error.required">
						        {{ 'ADMIN_FORM.REQUIRED_FIELD_PASSWORD' | i18next }}
						    </small>
						  </div>		        
					    </div>					    

						<button type="submit" class="btn btn-primary btnLogin" ng-disabled="adminForm.$invalid">{{ 'ADMIN_FORM.BUTTON' | i18next }}</button>
				</form>
			</div>
		</div>
		</div>
	</div>
</div>