<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header"> 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" arial-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>        
      </button>
      <a class="navbar-brand" ui-sref="home" ui-sref-active="active"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>    
    </div>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li>
            <a ui-sref="imprimerie" ui-sref-active="active">{{ 'NAVBAR.MENU_IMPRIMERIE' | i18next }}</a>
          </li>
          <li>
            <a ui-sref="papeterie" ui-sref-active="active">{{ 'NAVBAR.MENU_PAPETERIE' | i18next }}</a>
          </li>
          <li>
            <a ui-sref="enseignes" ui-sref-active="active">{{ 'NAVBAR.MENU_ENSEIGNES' | i18next }}</a>
          </li>
          <li>
            <a ui-sref="movie" ui-sref-active="active">{{ 'NAVBAR.MENU_MOVIE' | i18next }}</a>
          </li>
          <li>
            <a ui-sref="contact" ui-sref-active="active">{{ 'NAVBAR.MENU_CONTACT' | i18next }}</a>
          </li>
        </ul>
      </div>
  </div>
</nav>