<div class="container-fluid">

	<div class="col-xs-12 col-sm-6 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading panel-center"><span class="panel-title">{{config.mail}}</span></div>
			<div class="panel-body">
				<div ng-show="status==1" class="alert alert-success" role="alert">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" />
					<span class="sr-only">Success:</span>
					  	{{successMessage}}
				</div>

				<div ng-show="status==2" class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-remove" aria-hidden="true" />
					<span class="sr-only">Error:</span>
					  	{{errorMessage}}
				</div>

				<form name="contactForm" ng-submit="Send(contactForm.$valid)" novalidate>

					    <div class="form-group" ng-class="{ 'has-error' : contactForm.lastname.$invalid && !contactForm.lastname.$pristine }">
					        <label for="inputName">{{contact.fieldLastname}}<span class="required">*</span></label>
					        <input type="text" name="lastname" tabindex="1" class="form-control" placeholder="{{contact.fieldLastname}}" ng-model="contact.lastname"  required />
					        <div class="error-container" ng-show="contactForm.lastname.$invalid && !contactForm.lastname.$pristine">
						    <small class="error" 
						        ng-show="contactForm.lastname.$error.required">
						        {{contact.requiredFieldLastname}}.
						    </small>
						  </div>		        
					    </div>

					    <div class="form-group" ng-class="{ 'has-error' : contactForm.firstname.$invalid && !contactForm.firstname.$pristine }">
					        <label for="inputName">{{contact.fieldFirstname}}<span class="required">*</span></label>
					        <input type="text" name="firstname" tabindex="1" class="form-control" placeholder="{{contact.fieldFirstname}}" ng-model="contact.firstname"  required />
					        <div class="error-container" ng-show="contactForm.firstname.$invalid && !contactForm.firstname.$pristine">
						    <small class="error" 
						        ng-show="contactForm.firstname.$error.required">
						        {{contact.requiredFieldFirstname}}
						    </small>
						  </div>		        
					    </div>

					    <div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
					        <label for="inputEmail">{{contact.fieldEmail}}<span class="required">*</span></label>
					        <input type="email" name="email" tabindex="1" class="form-control" placeholder="{{contact.fieldEmail}}" ng-model="contact.email" required />
					        <div class="error-container" ng-show="contactForm.email.$invalid && !contactForm.email.$pristine">
						    <small class="error" 
						        ng-show="contactForm.email.$error.required">
						        {{contact.requiredFieldEmail}}
						    </small>
			 				<small class="error" ng-show="contactForm.email.$error.email">
			             		{{contact.validFieldEmail}}
			      			</small>
						  </div>		        
					    </div>

					    <div class="form-group">
					        <label for="inputName">{{contact.fieldCompany}}</label>
					        <input type="text" name="company" tabindex="1" class="form-control" placeholder="{{contact.fieldCompany}}" ng-model="contact.company" />		        
					    </div>

					    <div class="form-group">
					        <label for="inputName">{{contact.fieldPhone}}</label>
					        <input type="text" name="telephone" tabindex="1" class="form-control" placeholder="{{contact.fieldPhone}}" ng-model="contact.telephone" />		        
					    </div>

					    <div class="form-group">
					        <label for="inputName">{{contact.fieldMessage}}</label>
					        <textarea rows="4" name="message" tabindex="1" class="form-control" placeholder="{{contact.fieldMessage}}" ng-model="contact.message" />		        
					    </div>

					    <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">{{contact.button}}</button>
				</form>
			</div>
		</div>
	</div>

	<!-- inject:time -->
	<!-- endinject -->

	<!-- inject:address -->
	<!-- endinject -->
		
</div>