<div class="row-fluid">

	<div class="col-xs-12 col-sm-6 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading"><span class="panel-title">{{dashboard.panelTitlePrincipal}}</span></div>
			<div class="panel-body alert alert-success"><h4>{{dashboard.panelBodyTitle}}</h4></div>

			<!-- inject:carouselFauchery -->
			<!-- endinject -->

			<div class="panel-body">						
				<aside>
					<div class="col-xs-6">
						<img class="img-thumbnail" src="img/dashboard/famille1911.png" />
					</div>
					<div class="col-xs-6 alert alert-success dashboard-description">
						{{dashboard.panelBodyDescription}}
					</div>
				</aside>
			</div>
		</div>	
	</div>

	<!-- inject:time -->
	<!-- endinject -->

	<!-- inject:address -->
	<!-- endinject -->

	<div class="container-fluid">
		<div class="col-xs-6 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading"><span class="panel-title">{{dashboard.imprimerie.title}}</span></div>
				<div class="panel-body panel-body-service">
					<div class="jumbotron">
						<img class="img-thumbnail" src="img/dashboard/imprimerie-img.png" />
						<p>{{dashboard.imprimerie.description}}</p>
						<p><a class="btn btn-primary btn-xs" href="#/service/2" role="button">{{dashboard.button}}</a></p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading"><span class="panel-title">{{dashboard.papeterie.title}}</span></div>
				<div class="panel-body panel-body-service">
					<div class="jumbotron">
						<img class="img-thumbnail" src="img/dashboard/papeterie-img.png" />
						<p>{{dashboard.papeterie.description}}</p>
						<p><a class="btn btn-primary btn-xs" href="#/service/3" role="button">{{dashboard.button}}</a></p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading"><span class="panel-title">{{dashboard.enseignes.title}}</span></div>
				<div class="panel-body panel-body-service">
					<div class="jumbotron">
						<img class="img-thumbnail" src="img/dashboard/enseignes-img.png" />
						<p>{{dashboard.enseignes.description}}</p>
						<p><a class="btn btn-primary btn-xs" href="#/service/4" role="button">{{dashboard.button}}</a></p>
					</div>
				</div>
			</div>			
		</div>
	</div> <!-- Container-fluid -->

	<div class="row">
		<div ng-repeat="movie in dashboard.movies" class="col-xs-6 col-sm-4">
		  	<div class="thumbnail">
		    	<div class="embed-responsive embed-responsive-16by9">
		    		<iframe width="420" height="315" ng-src="{{movie | trusted}}"></iframe>
				</div>
		  	</div>
		  </div>
	</div>	
	
</div>





	

