<div class="row-fluid">

	<div class="col-xs-12 col-sm-6 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading panel-center"><h3 class="panel-title content-center">{{dashboard.panelTitlePrincipal}}</h3></div>
			<div class="panel-body alert alert-success content-center"><h4>{{dashboard.panelBodyTitle}}</h4></div>
			<div ng-controller="OlippCarouselFaucheryCtrl" ng-include="'carousel-fauchery-panel.html'"></div>
			<div class="panel-body">						
				<aside>
					<div class="col-xs-6">
						<img class="img-thumbnail" src="img/dashboard/famille1911.png" />
					</div>
					<div class="col-xs-6 alert alert-success dashboard-description">
						{{dashboard.panelBodyDescription}}
					</div>
				</aside>
			</div>
		</div>	
	</div>

	<div class="col-xs-6 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading panel-right"><h3 class="panel-title content-center">{{config.horaire.title}}</h3></div>
			<div class="panel-body alert alert-success">
				<aside>
					<ul class="footer-ul">
						<li class="label-horaire label-info dashboard-day">{{config.horaire.week}}</li>
						<li class="label-horaire label-warning dashboard-time">{{config.horaire.weekTime}}</li>
						<li class="label-horaire label-info dashboard-day">{{config.horaire.weekend}}</li>
						<li class="label-horaire label-warning dashboard-time">{{config.horaire.weekendTime}}</li>
					</ul>
				</aside>
			</div>

		</div>
	</div>

	<div class="col-xs-6 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading panel-right"><h3 class="panel-title content-center">Adresse</h3></div>	
			<div class="panel-body alert alert-success">
				<aside><h3><span class="glyphicon glyphicon-align-left glyphicon-right" aria-hidden="true"></span> <span>Fauchery SAS</span></h3>		
					<ul class="footer-ul">
						<li><span class="glyphicon glyphicon-home glyphicon-right" aria-hidden="true"></span> {{config.headquarter}}</li>
						<li class=" footer-address">{{config.address.firstLine}}</li>
						<li class=" footer-address">{{config.address.secondLine}} {{config.address.postalCode}} {{config.address.city}}</li>
						<li><span class="glyphicon glyphicon-phone-alt glyphicon-right" aria-hidden="true"></span> {{config.telephone}}</li>
						<li><span class="glyphicon glyphicon-copy glyphicon-right" aria-hidden="true"></span> {{config.fax}}</li>
						<li><span class="glyphicon glyphicon-envelope glyphicon-right" aria-hidden="true"></span> {{config.mail}}</li>
					</ul>
				</aside>	
				<img class="img-thumbnail" src="img/plan/plan.png"/>			
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="col-xs-6 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading panel-imprimerie"><h3 class="panel-title content-center">{{dashboard.imprimerie.title}}</h3></div>
				<div class="panel-body panel-body-service">
					<div class="jumbotron">
						<img class="img-thumbnail" src="img/dashboard/imprimerie-img.png" />
						<p>{{dashboard.imprimerie.description}}</p>
						<p><a class="btn btn-primary btn-xs" href="#/service/2" role="button">{{dashboard.button}}</a></p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading panel-papeterie"><h3 class="panel-title content-center">{{dashboard.papeterie.title}}</h3></div>
				<div class="panel-body panel-body-service">
					<div class="jumbotron">
						<img class="img-thumbnail" src="img/dashboard/papeterie-img.png" />
						<p>{{dashboard.papeterie.description}}</p>
						<p><a class="btn btn-primary btn-xs" href="#/service/3" role="button">{{dashboard.button}}</a></p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading panel-enseignes"><h3 class="panel-title content-center">{{dashboard.enseignes.title}}</h3></div>
				<div class="panel-body panel-body-service">
					<div class="jumbotron">
						<img class="img-thumbnail" src="img/dashboard/enseignes-img.png" />
						<p>{{dashboard.enseignes.description}}</p>
						<p><a class="btn btn-primary btn-xs" href="#/service/4" role="button">{{dashboard.button}}</a></p>
					</div>
				</div>
			</div>			
		</div>
	</div> <!-- Container-fluid -->

	<div class="row">
		<div ng-repeat="movie in dashboard.movies" class="col-xs-6 col-sm-4">
		  	<div class="thumbnail">
		    	<div class="embed-responsive embed-responsive-16by9">
		    		<iframe width="420" height="315" ng-src="{{movie | trusted}}"></iframe>
				</div>
		  	</div>
		  </div>
	</div>	
	
</div>





	

