<div class="container">

	<div class="row">
		<div class="col-xs-12 col-sm-8 col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading"><span class="panel-title">{{ 'DASHBOARD.MAIN_TITLE' | translate }}</span></div>
				<div class="panel-body alert alert-success"><h4>{{ 'DASHBOARD.BODY_TITLE' | translate }}</h4></div>

				<!-- inject:carouselFauchery -->
				<!-- endinject -->

				<div class="panel-body">						
					<aside>
						<div class="col-xs-12 col-md-6 col-lg-6 img-family">
							<img class="img-responsive" src="img/dashboard/famille1911.png" />
						</div>
						<div class="col-xs-12 col-md-6 col-lg-6">
							<div class="alert alert-success dashboard-description">
								{{ 'DASHBOARD.BODY_TEXT' | translate }}
							</div>
						</div>
					</aside>
				</div>
			</div>	
		</div>

		<!-- inject:time -->
		<!-- endinject -->

		<!-- inject:address -->
		<!-- endinject -->
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading"><span class="panel-title">{{ 'DASHBOARD.IMPRIMERIE.TITLE' | translate }}</span></div>
				<div class="panel-body panel-body-service">
					<div class="jumbotron">
						<img class="img-thumbnail" src="img/dashboard/imprimerie-img.png" />
						<p>{{ 'DASHBOARD.IMPRIMERIE.DESCRIPTION' | translate }}</p>
						<a class="btn btn-primary" href="#/service/2" role="button">{{ 'DASHBOARD.BUTTON_CAPTION' | translate }}</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading"><span class="panel-title">{{ 'DASHBOARD.PAPETERIE.TITLE' | translate }}</span></div>
				<div class="panel-body panel-body-service">
					<div class="jumbotron">
						<img class="img-thumbnail" src="img/dashboard/papeterie-img.png" />
						<p>{{ 'DASHBOARD.PAPETERIE.DESCRIPTION' | translate }}</p>
						<a class="btn btn-primary" href="#/service/3" role="button">{{ 'DASHBOARD.BUTTON_CAPTION' | translate }}</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading"><span class="panel-title">{{ 'DASHBOARD.ENSEIGNES.TITLE' | translate }}</span></div>
				<div class="panel-body panel-body-service">
					<div class="jumbotron">
						<img class="img-thumbnail" src="img/dashboard/enseignes-img.png" />
						<p>{{ 'DASHBOARD.ENSEIGNES.DESCRIPTION' | translate }}</p>
						<a class="btn btn-primary" href="#/service/4" role="button">{{ 'DASHBOARD.BUTTON_CAPTION' | translate }}</a>
					</div>
				</div>
			</div>			
		</div>
	</div> <!-- row -->

	<div class="row">
		<div ng-repeat="movie in DashMovies" class="col-xs-12 col-sm-4">
		  	<div class="thumbnail">
		    	<div class="embed-responsive embed-responsive-16by9">
		    		<iframe width="420" height="315" ng-src="{{ movie | trusted }}"></iframe>
				</div>
		  	</div>
		</div>
	</div>
</div>





	

