<div class="container-fluid">
	<div class="col-xs-12 col-sm-8 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading panel-center"><span class="panel-title">{{ 'ENSEIGNES.TITLE' | translate}}</span></div>
			<div class="panel-body alert alert-success">
				{{ 'ENSEIGNES.DESCRIPTION' | translate}}
			</div>

			<!-- inject:carouselEnseignes -->
			<!-- endinject -->

			<div class="panel-body alert alert-success papeterie-description">
				<h3 class="label label-default">{{ 'ENSEIGNES.ENSEIGNES.TITLE' | translate}}</h3>
				<p>{{ 'ENSEIGNES.ENSEIGNES.DESCRIPTION' | translate}}</p><br />
				<h3 class="label label-default">{{ 'ENSEIGNES.BUREAU.TITLE' | translate}}</h3>
				<p>{{ 'ENSEIGNES.BUREAU.DESCRIPTION' | translate}}</p><br />
				<h3 class="label label-default">{{ 'ENSEIGNES.VEHICULE.TITLE' | translate}}</h3>
				<p>{{ 'ENSEIGNES.VEHICULE.DESCRIPTION' | translate}}</p>
			</div>
		</div>	
	</div>

	<!-- inject:time -->
	<!-- endinject -->

	<!-- inject:address -->
	<!-- endinject -->
	
</div>