<div class="container-fluid">

	<div class="col-xs-12 col-sm-8 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading panel-center"><span class="panel-title">{{ 'PAPETERIE.TITLE' | translate }}</span></div>
			<div class="panel-body alert alert-success">
				<div class="papeterie-apluspapeterie">
					<a ng-href="{{ 'PAPETERIE.LINK_APLUSPAPETERIE' | translate }}" target="blank"><img class="img-thumbnail" ng-src="img/header/aPlusPapeterie.png"><span>{{ 'PAPETERIE.LINK_CONTENT' | translate }}</span></a>
				</div>
			</div>

			<div>
				<div class="thumbnail">
			    	<div class="embed-responsive embed-responsive-16by9">
			    		<iframe ng-src="{{ 'PAPETERIE.MOVIE' | translate | trusted}}"></iframe>
					</div>
			  	</div>
			</div> 

			<div class="panel-body alert alert-success papeterie-description">
				<p>{{ 'PAPETERIE.PARAGRAPHE_ONE' | translate }}</p>
				<p>{{ 'PAPETERIE.PARAGRAPHE_TWO' | translate }}</p>
				<p>{{ 'PAPETERIE.PARAGRAPHE_THREE' | translate }}</p>
				<p>{{ 'PAPETERIE.PARAGRAPHE_FOUR' | translate }}</p>
				<p>{{ 'PAPETERIE.PARAGRAPHE_FIVE' | translate }}</p>
			</div>
		</div>	
	</div>

	<!-- inject:time -->
	<!-- endinject -->

	<!-- inject:address -->
	<!-- endinject -->

</div>