	<div class="col-xs-12 col-sm-4 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading"><span class="panel-title">{{ 'CONFIG.TIME.TITLE' | i18next }}</span></div>
			<div class="panel-body alert alert-success">
				<aside>
					<ul class="footer-ul">
						<li class="label-horaire label-info dashboard-day">{{'CONFIG.TIME.WEEK' | i18next }}</li>
						<li class="label-horaire label-warning dashboard-time">{{'CONFIG.TIME.WEEK_TIME' | i18next }}</li>
						<li class="label-horaire label-info dashboard-day">{{'CONFIG.TIME.WEEKEND' | i18next }}</li>
						<li class="label-horaire label-warning dashboard-time">{{'CONFIG.TIME.WEEKEND_TIME' | i18next }}</li>
					</ul>
				</aside>
			</div>
		</div>
	</div>